/*
* EXIT
* Copyright 2017, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 2017.01
*/


/* fonts.google.com Raleway font*/
@import url('https://fonts.googleapis.com/css?family=Raleway');



/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


body{
  font-family: 'Raleway', sans-serif;
}


/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.exit-button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.exit-button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }


.exit-card{
  border-radius: 4px;
}


/* alert
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.alert{
  border-radius: 4px;
  padding: .75rem 1.25rem
}
.alert.alert-success{
  background: #dff0d8;
  color: #3c763d;
}

.alert.alert-info{
  background: #d9edf7;
  color: #31708f;
}

.alert.alert-warning{
  background: #fcf8e3;
  color: #8a6d3b;
}

.alert.alert-danger{
  background: #f2dede;
  color: #a94442;
}


/* Border
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.border-circle{
  border-radius: 100%;
}

.border-rounded{
  border-radius: .25rem;
}

.border-rounded-top{
  border-radius: .25rem .25rem 0 0;
}

.border-rounded-bottom{
  border-radius: 0 0 .25rem .25rem;
}

.border-rounded-right{
  border-radius: 0 .25rem .25rem 0;
}

.border-rounded-left{
  border-radius: .25rem 0 0 .25rem;
}


/* Float
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.clearfix{
  clear: both;
}


/* Hide
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hide{
  display: none;
}


/* Thumbnail
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.thumbnail-default{
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #ddd;
}

.thumbnail-rounded{
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: .25rem;
}
