*{
  margin: 0 auto;
}
body{
  background: #fafafb;
}

.main-logo{
  width: 256px;
  height: 256px;
}

.dev-icons{
  font-size: 84px;
  color: #314570;
}

footer{
  display: block;
  color: #99979c;
  background: #2a2730;
  padding: 50px;
}

footer > .container{
  display: inline-block;
  margin: auto;
}
