/*
* EXIT
* Copyright 2017, EXIT
* exit-kr.github.io
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 2017.01
*/

@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import 'color';

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

$main-shadow: 0 1px 2px rgba(0,0,0,.2);
$font-main: 'Open Sans', sans-serif;
$border-main: 1px solid #E1E1E1;

body {
    font-family: $font-main;
    color: $color-dark-gray;
}

blockquote {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: 0.5rem solid #eceeef;
    color: $color-main;

    &.blockquote-reverse {
        padding-right: 1rem;
        padding-left: 0;
        text-align: right;
        border-right: 0.5rem solid #eceeef;
        border-left: 0;
    }

    .blockquote-footer {
        display: block;
        font-size: 80%;
        color: #7786A6;

        &::before {
            content: "\2014 \00A0";
        }
    }
}

.container {
    width: 80%;
    margin: auto;
}
/* Gird
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.column,
.columns {
    margin: 0;
}

.column:last-child,
.columns:last-child {
    margin-right: 0;
}

.row {
  width: 100%;
  display: table;
  content: "";
}
.column,
.columns {
    display: inline-block;
    vertical-align: top;
    float: left;
}

.col-1.column,
.col-1.columns  { width: 8.3333333338%; }
.col-2.columns  { width: 16.666666667%; }
.col-3.columns  { width: 25%; }
.col-4.columns  { width: 33.333333333%; }
.col-5.columns  { width: 41.666666667%; }
.col-6.columns  { width: 50%; }
.col-7.columns  { width: 58.333333333%; }
.col-8.columns  { width: 66.666666667%; }
.col-9.columns  { width: 75%; }
.col-10.columns { width: 83.333333333%; }
.col-11.columns { width: 91.666666667%; }
.col-12.columns { width: 100%; }

.one-third.column {
    width: 30.6666666667%;
}

.two-thirds.column {
    width: 65.3333333333%;
}

.one-half.column {
    width: 48%;
}
/* Box
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.box {
    border: $border-main;
    border-radius: 4px;
    background: $color-main-light;
    // font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 1.5rem;

    &.small {
      padding: 0.5rem;
    }

    &.large {
      padding: 2.5rem;
    }

    &.code {
      background: $color-light-gray;
      font-size: 14px;
      font-family: 'Menlo';

      > h6{
        font-family: $font-main;
        color: $color-medium-gray;
        margin: 0px;
        margin-bottom: 5px;
      }
    }

    > p:last-child{
      margin-bottom: 0;
    }
}

span.box {
  display: inline-block;
}


.box-divided {

    // box-shadow: $main-shadow;
    border: 1px solid #E1E1E1;
    border-radius: 0.25rem;
    .box-top {
        background: $color-main;
        color: white;
        padding: 0.1rem 1.5rem;
        border-radius: 0.25rem 0.25rem 0 0;

        > h1, h2, h3, h4, h5, h6{
          color: white;
        }
    }

    .box-bottom {
        background: $color-main-light;
        padding: 1.5rem;
        border-radius: 0 0 0.25rem 0.25rem;

    }
}

.indent{
  margin-left: 15px;
}

/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    font-size: 90%;
    white-space: nowrap;
    color: #bd4147;
    background: #f7f7f9;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: $color-main;

    small {
        margin-left: 10px;
        font-size: 65%;
        color: $color-medium-gray;
    }
}

.h1,
h1 {
    font-size: 2.5rem;
}

.h2,
h2 {
    font-size: 2rem;
}

.h3,
h3 {
    font-size: 1.75rem;
}

.h4,
h4 {
    font-size: 1.5rem;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.h6,
h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

small {
    font-size: 80%;
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.exit-btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background: white;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;

    &.btn-primary {
        color: white;
        background: $color-main;
    }

    &.btn-success {
        color: $color-success-strong;
        background: $color-success;
    }

    &.btn-info {
        color: $color-info-strong;
        background: $color-info;
    }

    &.btn-warning {
        color: $color-warning-strong;
        background: $color-warning;
    }

    &.btn-danger {
        color: $color-danger-strong;
        background: $color-danger;
    }
}

.button:focus,
.exit-btn:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
    color: #333;
    border-color: #888;
    outline: 0;
}

.exit-card {
    border-radius: 4px;
}
/* alert
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.alert {
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
}

.alert.alert-success {
    background: $color-success;
    color: $color-success-strong;
}

.alert.alert-info {
    background: #d9edf7;
    color: #31708f;
}

.alert.alert-warning {
    background: $color-warning;
    color: $color-warning-strong;
}

.alert.alert-danger {
    background: $color-danger;
    color: $color-danger-strong;
}
/* Border
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.circle {
    border-radius: 100%;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-top {
    border-radius: 0.25rem 0.25rem 0 0;
}

.rounded-bottom {
    border-radius: 0 0 0.25rem 0.25rem;
}

.rounded-right {
    border-radius: 0 0.25rem 0.25rem 0;
}

.rounded-left {
    border-radius: 0.25rem 0 0 0.25rem;
}
/* Float
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}
/* Hide
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hide {
    display: none;
}
/* Thumbnail
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.thumbnail-img {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #ddd;
}
/* Size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.size-x {
    width: 32px;
    height: 32px;
}

.size-2x {
    width: 64px;
    height: 64px;
}

.size-3x {
    width: 128px;
    height: 128px;
}

.size-4x {
    width: 256px;
    height: 256px;
}

.size-5x {
    width: 512px;
    height: 512px;
}
