/*
* EXIT
* Copyright 2017, EXIT
* exit-kr.github.io
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 2017.01
*/


/* fonts.google.com Raleway font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');



/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Color Sets
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$color-main: #314570;
$color-lapis-blue: #0C4C8A;
$color-niagara: #5788A1;
$color-island-paradise: #97D5E0;
$color-aqua: #4FC1E9;
$color-mint: #48CFAD;
$color-grass-green: #8CC152;
$color-greenery: #88B14B;
$color-kale: #5C7148;
$color-primrose-yellow: #F5D157;
$color-sun-flower: #FFCE54;
$color-pale-dogwood: #EFCEC5;
$color-hazelnut: #D1AF94;
$color-lavender: #AC92EC;
$color-pink-rose: #EC87C0;
$color-pink0yarrow: #D23076;
$color-grapfruit: #ED5565;
$color-bittersweet: #FC6E51;
$color-flame: #EF562C;
$color-light-gray: #E6E9ED;
$color-medium-gray: #AAB2BD;
$color-dark-gray: #434A54;



$main-shadow : 0 1px 2px rgba(0,0,0,.2);

body{
  font-family: 'Open Sans', sans-serif;
}

blockquote {

  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 0.5rem solid #eceeef;

  &.blockquote-reverse {
    padding-right: 1rem;
    padding-left: 0;
    text-align: right;
    border-right: 0.5rem solid #eceeef;
    border-left: 0;
  }

  .blockquote-footer {
    display: block;
    font-size: 80%;
    color: #636c72;

    &::before{
      content: "\2014 \00A0";
    }
  }
}


.container{
  width: 80%;
  margin: auto;
}

/* Box
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.box{
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  background: #fff;
  font-size: 1.2rem;
  padding: 2.5rem 3rem;
}

.box-divided{
  display: inline-block;


  .box-top{
    padding: 10px;
    border-radius: .25rem .25rem 0 0;
    background: red;
  }

  .box-bottom{
    padding: 10px;
    border-radius: 0 0 .25rem .25rem;
    background: white;
    box-shadow: $main-shadow;
  }
}


/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code{
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  color: #bd4147;
  background: #f7f7f9;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-weight: 600;

  small{
    margin-left: 10px;
    font-size: 65%;
    color: #777;
  }

}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

small{
  font-size: 80%;
}



/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.exit-button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.exit-button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }


.exit-card{
  border-radius: 4px;
}


/* alert
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.alert{
  border-radius: 4px;
  padding: .75rem 1.25rem
}
.alert.alert-success{
  background: #dff0d8;
  color: #3c763d;
}

.alert.alert-info{
  background: #d9edf7;
  color: #31708f;
}

.alert.alert-warning{
  background: #fcf8e3;
  color: #8a6d3b;
}

.alert.alert-danger{
  background: #f2dede;
  color: #a94442;
}


/* Border
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.circle{
  border-radius: 100%;
}

.rounded{
  border-radius: .25rem;
}

.rounded-top{
  border-radius: .25rem .25rem 0 0;
}

.rounded-bottom{
  border-radius: 0 0 .25rem .25rem;
}

.rounded-right{
  border-radius: 0 .25rem .25rem 0;
}

.rounded-left{
  border-radius: .25rem 0 0 .25rem;
}


/* Float
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.clearfix{
  clear: both;
}


/* Hide
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hide{
  display: none;
}


/* Thumbnail
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.thumbnail-img{
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #ddd;
}


/* Size
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.size-x{
  width: 32px;
  height: 32px;
}
.size-2x{
  width: 64px;
  height: 64px;
}
.size-3x{
  width: 128px;
  height: 128px;
}
.size-4x{
  width: 256px;
  height: 256px;
}
.size-5x{
  width: 512px;
  height: 512px;
}
